
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div class="content-wrapper d-flex justify-content-center align-items-center">
            <div>
            <h1 class="text-center lh-5">Avro Construction.az Səhifəsinin <br /> <br /> Admin idarəetmə panelinə   <br /><br /> Xoş Gəldiniz</h1>
            </div>
    </div>
    <!-- content-wrapper ends -->
   
</div>