/* Client Logo Area css
============================================================================================ */
.client_logo_area {
  background: #f7f5f9;
  padding: 48px 0px;
}
.client_logo_slider {
  .item {
    line-height: 85px;
    img {
      display: inline-block;
      width: auto;
      line-height: 85px;
    }
  }
}
/* End Client Logo Area css
============================================================================================ */
