@{
    ViewData["Title"] = "Edit";
}
@model SliderPutVM

<div class="p-3 bg-light w-100">

    <form asp-action="Edit" asp-controller="slider" method="post" enctype="multipart/form-data" class="col-md-6">




        <div class="my-3">
            <label asp-for="Title" class="form-label">Başlıq</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="small text-danger"></span>
        </div>

        <div class="my-3">
            <label asp-for="Title2" class="form-label"> Alt Başlıq</label>
            <input asp-for="Title2" class="form-control" />
            <span asp-validation-for="Title2" class="small text-danger"></span>
        </div>


        <div class="my-3">
            <label asp-for="Text" class="form-label">Açıqlama</label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="small text-danger"></span>
        </div>


        <div class="my-3">
            <label asp-for="Queue" class="form-label">Sıra nömrəsi</label>
            <input type="number" asp-for="Queue" class="form-control" />
            <span asp-validation-for="Queue" class="small text-danger"></span>
        </div>


        <div class="my-3">
            <label asp-for="ButtonText" class="form-label">Düymə yazısı</label>
            <input asp-for="ButtonText" class="form-control" />
            <span asp-validation-for="ButtonText" class="small text-danger"></span>
        </div>
        <div class="my-3">
            <label asp-for="ButtonLink" class="form-label">Düymə Linki</label>
            <input asp-for="ButtonLink" class="form-control" />
            <span asp-validation-for="ButtonLink" class="small text-danger"></span>
        </div>

        <div class="my-3">
            <label asp-for="ImageFile" class="form-label">Şəkil</label>
            <input asp-for="ImageFile" onchange="readFile(this)" target-image-id="previewImage" class="form-control" />
            <span asp-validation-for="ImageFile" class="small text-danger"></span>

            <div>
                 <img id="previewImage" src="~/Uploads/Sliders/@Model.CurrentImage" width="200"/>
                 <input asp-for="Id" value="@Model.Id" hidden/>
                 <input asp-for="CurrentImage" value="@Model.CurrentImage" hidden/>
            </div>
        </div>

        <button type="submit" class="btn btn-success my-2"> Dəyişiklik Et </button>

    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_fileReaderScript")

 }