
@{
    ViewData["Title"] = "Index";
}
@model ProjectsViewModel;


  <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
      <h1>Construction</h1>
      <div class="container">
        <h2>Projects 1</h2>
        <ul class="nav">
          <li><a asp-action="index" asp-controller="home">Home</a></li>
          <li>
            <a class="active" href="#">Projects 1</a>
          </li>
        </ul>
      </div>
    </section>
    <!--================End Breadcrumb Area =================-->

    <!--================Our Projects Area =================-->
    <section class="our_projects_area projects_one p_100">
      <div class="container">
        <div class="our_projects_inner">
          <div class="g_fillter">
            <ul class="nav justify-content-center">
              <li class="active" data-filter="*">
                <a href="#">All Works</a>
              </li>
              <li data-filter=".comm"><a href="#">Commercial</a></li>
              <li data-filter=".edu"><a href="#">Education</a></li>
              <li data-filter=".hos"><a href="#">Hospital</a></li>
              <li data-filter=".res"><a href="#">Residential</a></li>
              <li data-filter=".office"><a href="#">Office</a></li>
              <li data-filter=".recon">
                <a href="#">Reconstruction</a>
              </li>
            </ul>
          </div>
          <div class="row gallery_inner imageGallery1">
              <!--Start-->
                  @foreach (Project project in Model.Projects)
                {
                    <!--Item-->

                    <div class="col-lg-3 col-md-4 col-sm-6 comm hos recon">
                        <a asp-action="details" asp-controller="Project" asp-route-id="@project.Id" class=" position-relative">
                            <div class="projects_item">


                                <img class="img-fluid" src="~/Uploads/Projects/@project.Image" alt="@project.Name" />
                                <span class="light">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </span>

                                <h5>@project.Name</h5>
                            </div>
                        </a>
                    </div>

                }

                <!--End-->
            </div>
        </div>
      </div>
    </section>
    <!--================End Our Projects Area =================-->
