
@{
    ViewData["Title"] = "OurTeam";
}


<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <h1>Construction</h1>
    <div class="container">
        <h2>Team</h2>
        <ul class="nav">
            <li><a asp-action="index" asp-controller="home">Home</a></li>
            <li>
                <a class="active" href="#">Team</a>
            </li>
        </ul>
    </div>
</section>
<!--================End Breadcrumb Area =================-->
<!--================Our Team Area =================-->
<section class="our_team_area p_100" style="background: #fff;">
    <div class="container">
        <div class="main_title">
            <h2>Our Dedicated Team</h2>
            <p>
                Bring to the table win-win survival strategies to ensure proactive
                domination. At the end of the day, going forward, a new normal
                that has evolved from gen-eration X is on the runway heading
                towards a streamlined cloud solution.
            </p>
        </div>
        <div class="row team_inner">
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/assets/images/team/team-1.jpg" alt="" />
                        <ul class="nav">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team_text">
                        <h4>Michale Joe</h4>
                        <p>Main Supervisor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/assets/images/team/team-2.jpg" alt="" />
                        <ul class="nav">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team_text">
                        <h4>Michale Joe</h4>
                        <p>Junior Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/assets/images/team/team-3.jpg" alt="" />
                        <ul class="nav">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team_text">
                        <h4>Michale Joe</h4>
                        <p>Maintainance Head</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/assets/images/team/team-4.jpg" alt="" />
                        <ul class="nav">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team_text">
                        <h4>Michale Joe</h4>
                        <p>Main Supervisor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/assets/images/team/team-1.jpg" alt="" />
                        <ul class="nav">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team_text">
                        <h4>Michale Joe</h4>
                        <p>Main Supervisor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/assets/images/team/team-2.jpg" alt="" />
                        <ul class="nav">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team_text">
                        <h4>Michale Joe</h4>
                        <p>Junior Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Our Team Area =================-->
