@using AVRO_CONSTRUKTİON_MMC.Areas.Admin.ViewModels.ProjectVMs
@{
    ViewData["Title"] = "Create";
}
@model ProjectPostVM

<div class="p-3">

    <form asp-action="Create" asp-controller="slider" method="post" enctype="multipart/form-data">




        <div class="my-3">
            <label asp-for="Name" class="form-label">Adı</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>

        <div class="my-3">
            <label asp-for="Description" class="form-label"> Haqqında</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>


        <div class="my-3">
            <label  asp-for="IsFeatured" class="form-label">Xüsusi Lahiyədirmi ?</label>
            <select asp-for="IsFeatured" class="form-select">
                <option value="false" selected>Xeyr</option>
                <option value="true">Bəli</option>
            </select>

            <span asp-validation-for="IsFeatured" class="small text-danger"></span>
        </div>


        <div class="my-3">
            <label asp-for="ImageFile" class="form-label">Şəkil</label>
            <input asp-for="ImageFile" class="form-control" />
            <span asp-validation-for="ImageFile" class="small text-danger"></span>
        </div>

        <button type="submit"> Yarat </button>

    </form>
</div>

