@using AVRO_CONSTRUKTİON_MMC.Areas.Admin.ViewModels.ClientLogoVMs

@{
    ViewData["Title"] = "Create";
}
@model ClientLogoPostVM
<div class="w-100 p-3">
    <form method="post" asp-action="Create" asp-controller="ClientLogo" enctype="multipart/form-data">
        
        <div class="my-3">
            <img  id="previewImage" src="" alt="" width="200" class="object-fit-cover" />
            <label class="form-label">Logo</label>
            <input asp-for="ImageFile" onchange="readFile(this)" target-image-id="previewImage" class="form-control"/>
            <span asp-validation-for="ImageFile" class="small text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Əlavə et</button>
    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_fileReaderScript");
}