@using AVRO_CONSTRUKTİON_MMC.Helpers.Interfaces
@inject ILayoutService layoutService

@{
    var settings = layoutService.GetSettingsDictionary();
    ViewData["Title"] = "- Əlaqə";
    ViewData["Page"] = "ContactUs";

}
@model ContactPostViewModel
    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
      <h1>Construction</h1>
      <div class="container">
        <h2>Bizimlə Əlaqə</h2>
        <ul class="nav">
          <li><a asp-action="Index" asp-controller="Home">Ana Səhifə</a></li>
          <li>
            <a class="active" href="#">Bizimlə Əlaqə</a>
          </li>
        </ul>
      </div>
    </section>
    <!--================End Breadcrumb Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area p_100">
      <div class="container">
        <div class="main_title">
          <h2>Təklif və ya iradınız</h2>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal
            that has evolved from generation X is on the runway heading
            towards a streamlined cloud solution.
          </p>
        </div>
        <div class="row contact_inner">
          <div class="col-lg-7">
                <form asp-action="contactUs" class="form-row contact_us_form" method="post">
                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control"  asp-for="Name" placeholder="Ad, Soyad" />
                        <span class="small text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                        <span class="small text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control"  asp-for="Phone" placeholder="Telefon" />
                        <span class="small text-danger" asp-validation-for="Phone"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <textarea class="form-control" asp-for="Message"  rows="1" placeholder="Qeyd"></textarea>
                        <span class="small text-danger" asp-validation-for="Message"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="submit"  class="btn submit_btn orange">
                            Göndər
                        </button>
                    </div>
            </form>
          </div>
          <div class="col-lg-5">
            <div class="our_address">
              <div class="address_title">
                <h3>Əlaqə vasitələri</h3>
                <p>
                  Completely synergize resource taxing relationships via
                  premier niche markets. Professionally cultivate
                  <br />one-to-one customer service.
                </p>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="~/assets/images/icon/marker.png" alt="" />
                </div>
                <div class="media-body">
                  <h5>Ünvan :</h5>
                            <p>@settings["Address"]</p>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="~/assets/images/icon/phone.png" alt="" />
                </div>
                <div class="media-body">
                  <h5>Telefon :</h5>
                     <a href="tel:@settings["Telefon"]">@settings["Telefon"]</a>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="~/assets/images/icon/inbox.png" alt="" />
                </div>
                <div class="media-body">
                  <h5>Email :</h5>
                  <p>@settings["Email"]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Contact Area =================-->

    <!--================End Banner Area =================-->
    <section class="map_area">

    <iframe src="https://maps.google.com/maps?q=@(ViewBag.Lattitude),@(ViewBag.Longitude)&hl=az&z=14&amp;output=embed" class="w-100" height="450" frameborder="0" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
</section>
    <!--================End Banner Area =================-->
