
@{
    ViewData["Title"] = "Index";
    int order = 1;
}

@model List<Setting>
<div class="p-3 w-100">


    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dəyişən</th>
                <th scope="col">Dəyər</th>
                <th scope="col">Əməliyyatlar</th>

            </tr>
        </thead>
        <tbody>

            @foreach (Setting setting in Model)
            {
                <tr>
                    <th scope="row">@order</th>
                    <td>@setting.Key</td>
                    <td>@setting.Value</td>


                    <td>
                        <a asp-action="edit" asp-controller="setting" asp-route-id="@setting.Id" class="btn btn-info">Edit</a>
                    </td>

                </tr>

                order++;
            }


        </tbody>
    </table>


</div>


